.App {
  display: grid;
  grid-template-areas:
    "header header header header"
    "navbar main main main"
    "navbar main main main"
    "footer footer footer footer";
  width: 100vw;
  height: 100vh;
  grid-template-rows: 10% 80%;
  grid-template-columns: 15%;
}
.main {
  border: 2px rgb(0, 255, 242) solid;
  grid-area: main;
  overflow: scroll;
}
.main > div {
  display: flex;
  flex-direction: column;
  width: 50%;
}
